
  .info-candidats h2{
    color: white;
    font-size: 40px;
  }
  
  .candidats-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content:space-between ;
  }
  
  .info-candidats {
    padding: 20px;
    background-color: #1B3D71;
  }
  
  h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  
  .candidat-info {
    margin-top: 10px;
  }
  
  .candidat-info h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
  
  .candidat-info p {
    margin: 5px 0;
  }
  